/* EzzineOg */
html{
  box-sizing:border-box
  }
  *,*:before,*:after{
    box-sizing:inherit
  }
/* header */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* Header     END */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.og-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.og-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.og-image{max-width: 20%;
  height:auto
  }
  img { 
    vertical-align:middle 
    } a { 
      color:inherit 
    }
.og-table,.og-table-all{
  border-collapse:collapse;border-spacing:0;
  width:100%
  ;display:table
  }
.og-table-all{border:1px solid #ccc}
.og-bordered tr,.og-table-all tr{border-bottom:1px solid #ddd}.og-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.og-table-all tr:nth-child(odd){background-color:#fff}.og-table-all tr:nth-child(even){background-color:#f1f1f1}
.og-hoverable tbody tr:hover,.og-ul.og-hoverable li:hover{background-color:#ccc}.og-centered tr th,.og-centered tr td{text-align:center}
.og-table td,.og-table th,.og-table-all td,.og-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.og-table th:first-child,.og-table td:first-child,.og-table-all th:first-child,.og-table-all td:first-child{padding-left:16px}
.og-btn,.og-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.og-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.og-btn,.og-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.og-disabled,.og-btn:disabled,.og-button:disabled{cursor:not-allowed;opacity:0.3}.og-disabled *,:disabled *{pointer-events:none}
.og-btn.og-disabled:hover,.og-btn:disabled:hover{box-shadow:none}
.og-badge,.og-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.og-badge{border-radius:50%}
.og-ul{list-style-type:none;padding:0;margin:0}.og-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.og-ul li:last-child{border-bottom:none}
.og-tooltip,.og-display-container{position:relative}.og-tooltip .og-text{display:none}.og-tooltip:hover .og-text{display:inline-block}
.og-ripple:active{opacity:0.5}.og-ripple{transition:opacity 0s}
.og-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.og-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.og-dropdown-click,.og-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.og-dropdown-hover:hover .og-dropdown-content{display:block}
.og-dropdown-hover:first-child,.og-dropdown-click:hover{background-color:#ccc;color:#000}
.og-dropdown-hover:hover > .og-button:first-child,.og-dropdown-click:hover > .og-button:first-child{background-color:#ccc;color:#000}
.og-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.og-check,.og-radio{width:24px;height:24px;position:relative;top:6px}
.og-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.og-bar-block .og-dropdown-hover,.og-bar-block .og-dropdown-click{width:100%}
.og-bar-block .og-dropdown-hover .og-dropdown-content,.og-bar-block .og-dropdown-click .og-dropdown-content{min-width:100%}
.og-bar-block .og-dropdown-hover .og-button,.og-bar-block .og-dropdown-click .og-button{width:100%;text-align:left;padding:8px 16px}
.og-main,#main{transition:margin-left .4s}
.og-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.og-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.og-bar{width:100%;overflow:hidden}.og-center .og-bar{display:inline-block;width:auto}
.og-bar .og-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.og-bar .og-dropdown-hover,.og-bar .og-dropdown-click{position:static;float:left}
.og-bar .og-button{white-space:normal}
.og-bar-block .og-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.og-bar-block.og-center .og-bar-item{text-align:center}.og-block{display:block;width:100%}
.og-responsive{display:block;overflow-x:auto}
.og-container:after,.og-container:before,.og-panel:after,.og-panel:before,.og-row:after,.og-row:before,.og-row-padding:after,.og-row-padding:before,
.og-cell-row:before,.og-cell-row:after,.og-clear:after,.og-clear:before,.og-bar:before,.og-bar:after{content:"";display:table;clear:both}
.og-col,.og-half,.og-third,.og-twothird,.og-threequarter,.og-quarter{float:left;width:100%}
.og-col.s1{width:8.33333%}.og-col.s2{width:16.66666%}.og-col.s3{width:24.99999%}.og-col.s4{width:33.33333%}
.og-col.s5{width:41.66666%}.og-col.s6{width:49.99999%}.og-col.s7{width:58.33333%}.og-col.s8{width:66.66666%}
.og-col.s9{width:74.99999%}.og-col.s10{width:83.33333%}.og-col.s11{width:91.66666%}.og-col.s12{width:99.99999%}
@media (min-width:601px){.og-col.m1{width:8.33333%}.og-col.m2{width:16.66666%}.og-col.m3,.og-quarter{width:24.99999%}.og-col.m4,.og-third{width:33.33333%}
.og-col.m5{width:41.66666%}.og-col.m6,.og-half{width:49.99999%}.og-col.m7{width:58.33333%}.og-col.m8,.og-twothird{width:66.66666%}
.og-col.m9,.og-threequarter{width:74.99999%}.og-col.m10{width:83.33333%}.og-col.m11{width:91.66666%}.og-col.m12{width:99.99999%}}
@media (min-width:993px){.og-col.l1{width:8.33333%}.og-col.l2{width:16.66666%}.og-col.l3{width:24.99999%}.og-col.l4{width:33.33333%}
.og-col.l5{width:41.66666%}.og-col.l6{width:49.99999%}.og-col.l7{width:58.33333%}.og-col.l8{width:66.66666%}
.og-col.l9{width:74.99999%}.og-col.l10{width:83.33333%}.og-col.l11{width:91.66666%}.og-col.l12{width:99.99999%}}
.og-rest{overflow:hidden}.og-stretch{margin-left:-16px;margin-right:-16px}
.og-content,.og-auto{margin-left:auto;margin-right:auto}.og-content{max-width:980px}.og-auto{max-width:1140px}
.og-cell-row{display:table;width:100%}.og-cell{display:table-cell}
.og-cell-top{vertical-align:top}.og-cell-middle{vertical-align:middle}.og-cell-bottom{vertical-align:bottom}
.og-hide{display:none!important}.og-show-block,.og-show{display:block!important}.og-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.og-auto{max-width:95%}}
@media (max-width:600px){.og-modal-content{margin:0 10px;width:auto!important}.og-modal{padding-top:30px}
.og-dropdown-hover.og-mobile .og-dropdown-content,.og-dropdown-click.og-mobile .og-dropdown-content{position:relative}  
.og-hide-small{display:none!important}.og-mobile{display:block;width:100%!important}.og-bar-item.og-mobile,.og-dropdown-hover.og-mobile,.og-dropdown-click.og-mobile{text-align:center}
.og-dropdown-hover.og-mobile,.og-dropdown-hover.og-mobile .og-btn,.og-dropdown-hover.og-mobile .og-button,.og-dropdown-click.og-mobile,.og-dropdown-click.og-mobile .og-btn,.og-dropdown-click.og-mobile .og-button{width:100%}}
@media (max-width:768px){.og-modal-content{width:500px}.og-modal{padding-top:50px}}
@media (min-width:993px){.og-modal-content{width:900px}.og-hide-large{display:none!important}.og-sidebar.og-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.og-hide-medium{display:none!important}}
@media (max-width:992px){.og-sidebar.og-collapse{display:none}.og-main{margin-left:0!important;margin-right:0!important}.og-auto{max-width:100%}}
.og-top,.og-bottom{position:fixed;width:100%;z-index:1}.og-top{top:0}.og-bottom{bottom:0}
.og-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.og-display-topleft{position:absolute;left:0;top:0}.og-display-topright{position:absolute;right:0;top:0}
.og-display-bottomleft{position:absolute;left:0;bottom:0}.og-display-bottomright{position:absolute;right:0;bottom:0}
.og-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.og-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.og-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.og-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.og-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.og-display-container:hover .og-display-hover{display:block}.og-display-container:hover span.og-display-hover{display:inline-block}.og-display-hover{display:none}
.og-display-position{position:absolute}
.og-circle{border-radius:50%}
.og-round-small{border-radius:2px}.og-round,.og-round-medium{border-radius:4px}.og-round-large{border-radius:8px}.og-round-xlarge{border-radius:16px}.og-round-xxlarge{border-radius:32px}
.og-row-padding,.og-row-padding>.og-half,.og-row-padding>.og-third,.og-row-padding>.og-twothird,.og-row-padding>.og-threequarter,.og-row-padding>.og-quarter,.og-row-padding>.og-col{padding:0 8px}
.og-container,.og-panel{padding:0.01em 16px}.og-panel{margin-top:16px;margin-bottom:16px}
.og-code,.og-codespan{font-family:Consolas,"courier new";font-size:16px}
.og-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.og-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.og-card,.og-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.og-card-4,.og-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.og-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.og-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.og-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.og-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.og-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.og-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.og-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.og-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.og-animate-input{transition:width 0.4s ease-in-out}.og-animate-input:focus{width:100%!important}
.og-opacity,.og-hover-opacity:hover{opacity:0.60}.og-opacity-off,.og-hover-opacity-off:hover{opacity:1}
.og-opacity-max{opacity:0.25}.og-opacity-min{opacity:0.75}
.og-greyscale-max,.og-grayscale-max,.og-hover-greyscale:hover,.og-hover-grayscale:hover{filter:grayscale(100%)}
.og-greyscale,.og-grayscale{filter:grayscale(75%)}.og-greyscale-min,.og-grayscale-min{filter:grayscale(50%)}
.og-sepia{filter:sepia(75%)}.og-sepia-max,.og-hover-sepia:hover{filter:sepia(100%)}.og-sepia-min{filter:sepia(50%)}
.og-tiny{font-size:10px!important}.og-small{font-size:12px!important}.og-medium{font-size:15px!important}.og-large{font-size:18px!important}
.og-xlarge{font-size:24px!important}.og-xxlarge{font-size:36px!important}.og-xxxlarge{font-size:48px!important}.og-jumbo{font-size:64px!important}
.og-left-align{text-align:left!important}.og-right-align{text-align:right!important}.og-justify{text-align:justify!important}.og-center{text-align:center!important}
.og-border-0{border:0!important}.og-border{border:1px solid #ccc!important}
.og-border-top{border-top:1px solid #ccc!important}.og-border-bottom{border-bottom:1px solid #ccc!important}
.og-border-left{border-left:1px solid #ccc!important}.og-border-right{border-right:1px solid #ccc!important}
.og-topbar{border-top:6px solid #ccc!important}.og-bottombar{border-bottom:6px solid #ccc!important}
.og-leftbar{border-left:6px solid #ccc!important}.og-rightbar{border-right:6px solid #ccc!important}
.og-section,.og-code{margin-top:16px!important;margin-bottom:16px!important}
.og-margin{margin:16px!important}.og-margin-top{margin-top:16px!important}.og-margin-bottom{margin-bottom:16px!important}
.og-margin-left{margin-left:16px!important}.og-margin-right{margin-right:16px!important}
.og-padding-small{padding:4px 8px!important}.og-padding{padding:8px 16px!important}.og-padding-large{padding:12px 24px!important}
.og-padding-16{padding-top:16px!important;padding-bottom:16px!important}.og-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.og-padding-32{padding-top:32px!important;padding-bottom:32px!important}.og-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.og-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.og-left{float:left!important}.og-right{float:right!important}
.og-button:hover{color:#000!important;background-color:#ccc!important}
.og-transparent,.og-hover-none:hover{background-color:transparent!important}
.og-hover-none:hover{box-shadow:none!important}
/* Colors */
.og-amber,.og-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.og-aqua,.og-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.og-blue,.og-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.og-light-blue,.og-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.og-brown,.og-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.og-cyan,.og-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.og-blue-grey,.og-hover-blue-grey:hover,.og-blue-gray,.og-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.og-green,.og-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.og-light-green,.og-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.og-indigo,.og-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.og-khaki,.og-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.og-lime,.og-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.og-orange,.og-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.og-deep-orange,.og-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.og-pink,.og-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.og-purple,.og-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.og-deep-purple,.og-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.og-red,.og-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.og-sand,.og-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.og-teal,.og-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.og-yellow,.og-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.og-white,.og-hover-white:hover{color:#000!important;background-color:#fff!important}
.og-black,.og-hover-black:hover{color:#fff!important;background-color:#000!important}
.og-grey,.og-hover-grey:hover,.og-gray,.og-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.og-light-grey,.og-hover-light-grey:hover,.og-light-gray,.og-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.og-dark-grey,.og-hover-dark-grey:hover,.og-dark-gray,.og-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.og-pale-red,.og-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.og-pale-green,.og-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.og-pale-yellow,.og-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.og-pale-blue,.og-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.og-text-amber,.og-hover-text-amber:hover{color:#ffc107!important}
.og-text-aqua,.og-hover-text-aqua:hover{color:#00ffff!important}
.og-text-blue,.og-hover-text-blue:hover{color:#2196F3!important}
.og-text-light-blue,.og-hover-text-light-blue:hover{color:#87CEEB!important}
.og-text-brown,.og-hover-text-brown:hover{color:#795548!important}
.og-text-cyan,.og-hover-text-cyan:hover{color:#00bcd4!important}
.og-text-blue-grey,.og-hover-text-blue-grey:hover,.og-text-blue-gray,.og-hover-text-blue-gray:hover{color:#607d8b!important}
.og-text-green,.og-hover-text-green:hover{color:#4CAF50!important}
.og-text-light-green,.og-hover-text-light-green:hover{color:#8bc34a!important}
.og-text-indigo,.og-hover-text-indigo:hover{color:#3f51b5!important}
.og-text-khaki,.og-hover-text-khaki:hover{color:#b4aa50!important}
.og-text-lime,.og-hover-text-lime:hover{color:#cddc39!important}
.og-text-orange,.og-hover-text-orange:hover{color:#ff9800!important}
.og-text-deep-orange,.og-hover-text-deep-orange:hover{color:#ff5722!important}
.og-text-pink,.og-hover-text-pink:hover{color:#e91e63!important}
.og-text-purple,.og-hover-text-purple:hover{color:#9c27b0!important}
.og-text-deep-purple,.og-hover-text-deep-purple:hover{color:#673ab7!important}
.og-text-red,.og-hover-text-red:hover{color:#f44336!important}
.og-text-sand,.og-hover-text-sand:hover{color:#fdf5e6!important}
.og-text-teal,.og-hover-text-teal:hover{color:#009688!important}
.og-text-yellow,.og-hover-text-yellow:hover{color:#d2be0e!important}
.og-text-white,.og-hover-text-white:hover{color:#fff!important}
.og-text-black,.og-hover-text-black:hover{color:#000!important}
.og-text-grey,.og-hover-text-grey:hover,.og-text-gray,.og-hover-text-gray:hover{color:#757575!important}
.og-text-light-grey,.og-hover-text-light-grey:hover,.og-text-light-gray,.og-hover-text-light-gray:hover{color:#f1f1f1!important}
.og-text-dark-grey,.og-hover-text-dark-grey:hover,.og-text-dark-gray,.og-hover-text-dark-gray:hover{color:#3a3a3a!important}
.og-border-amber,.og-hover-border-amber:hover{border-color:#ffc107!important}
.og-border-aqua,.og-hover-border-aqua:hover{border-color:#00ffff!important}
.og-border-blue,.og-hover-border-blue:hover{border-color:#2196F3!important}
.og-border-light-blue,.og-hover-border-light-blue:hover{border-color:#87CEEB!important}
.og-border-brown,.og-hover-border-brown:hover{border-color:#795548!important}
.og-border-cyan,.og-hover-border-cyan:hover{border-color:#00bcd4!important}
.og-border-blue-grey,.og-hover-border-blue-grey:hover,.og-border-blue-gray,.og-hover-border-blue-gray:hover{border-color:#607d8b!important}
.og-border-green,.og-hover-border-green:hover{border-color:#4CAF50!important}
.og-border-light-green,.og-hover-border-light-green:hover{border-color:#8bc34a!important}
.og-border-indigo,.og-hover-border-indigo:hover{border-color:#3f51b5!important}
.og-border-khaki,.og-hover-border-khaki:hover{border-color:#f0e68c!important}
.og-border-lime,.og-hover-border-lime:hover{border-color:#cddc39!important}
.og-border-orange,.og-hover-border-orange:hover{border-color:#ff9800!important}
.og-border-deep-orange,.og-hover-border-deep-orange:hover{border-color:#ff5722!important}
.og-border-pink,.og-hover-border-pink:hover{border-color:#e91e63!important}
.og-border-purple,.og-hover-border-purple:hover{border-color:#9c27b0!important}
.og-border-deep-purple,.og-hover-border-deep-purple:hover{border-color:#673ab7!important}
.og-border-red,.og-hover-border-red:hover{border-color:#f44336!important}
.og-border-sand,.og-hover-border-sand:hover{border-color:#fdf5e6!important}
.og-border-teal,.og-hover-border-teal:hover{border-color:#009688!important}
.og-border-yellow,.og-hover-border-yellow:hover{border-color:#ffeb3b!important}
.og-border-white,.og-hover-border-white:hover{border-color:#fff!important}
.og-border-black,.og-hover-border-black:hover{border-color:#000!important}
.og-border-grey,.og-hover-border-grey:hover,.og-border-gray,.og-hover-border-gray:hover{border-color:#9e9e9e!important}
.og-border-light-grey,.og-hover-border-light-grey:hover,.og-border-light-gray,.og-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.og-border-dark-grey,.og-hover-border-dark-grey:hover,.og-border-dark-gray,.og-hover-border-dark-gray:hover{border-color:#616161!important}
.og-border-pale-red,.og-hover-border-pale-red:hover{border-color:#ffe7e7!important}.og-border-pale-green,.og-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.og-border-pale-yellow,.og-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.og-border-pale-blue,.og-hover-border-pale-blue:hover{border-color:#e7ffff!important}